.brand {
  padding-top: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

.inner-home {
  padding-top: 40px;
}

.bio-pic-box {
  width: 850px;
  margin: 0 auto;
}

.short-bio {
  vertical-align: top;
  width: 600px;
  display: inline-block;
  font-size: 16pt;
}

.face {
  margin-right: 20px;
  display: inline-block;
  img {
    border-radius: 10px;
  }
}

.internet-places {
  width: 700px;
  margin: 0 auto;
  text-align: left;
  font-size: 14pt;
  h2 {
    text-align: center;
  }
}

.site-places {
  text-align: center;
  a {
    color: #CA782C; 
    text-decoration: none;
    &:hover {
      color: #E4A061;
    }
  }
}
