.bye-bye {
	text-align: center;
	a {
		color: #FF8F00;
		text-decoration: underline;
	}
}

.fun p {
	margin: 15px 0;
}

.serious {
}

.resume {
	h2 {
		margin-bottom: 0;
	}
	h3 {
		margin: 15px 0 5px 0;
	}
	h4 {
		font-style: italic;
		margin: 5px 0;
	}
}

.resume-inner {
	width: 800px;
	margin: 0 auto;
}

.whichresume {
	h3 {
		margin: 5px 0 0 0;
	}
}