body {
	background-image:url('purty_wood.png')
}

img {
	height: 200px;
}

.headshot {
	display: inline-block;
	padding:10px;
}

.nav {
	margin:10px auto;
	margin-top: 10px;
	text-align:center;
	color: #136F75;
}	

div.box {
	background-color:white;
	margin: 20px auto;
	padding: 6px;
	border-radius: 10px;
	text-align: center;
}

div.box_narrow {
	width:600px;
}

div.box_wide {
	width:750px;
}


#div-1 {
}

#div-1a {
	float:left;
	width:375px;
}

#div-1b {
	float:right;
	width:375px;
}

#div-1c {
	clear:both;
}

header h1 {
	margin:10px auto;
	margin-top: 30px;
	text-align:center;
	font-size:30pt;
	color: #136F75;
}

header h1 a:link,
header h1 a:visited,
header h1 a:hover {
	color: #136F75;
}


h3 {
	padding-top: 20px;
	color: #136F75;
}

h2 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.list {
	display: inline-block;
	vertical-align: top;
}

.list ul {
	list-style-position: inside;
}

footer {
	text-align:center;
	color:#544D50;
	font-style:italic;
}