<div class="inner-container">
  <div class="bio">
    <h2 class="centered-header">Something like my life story</h2>

    <div class="bubble-for-icon"><i class="icon-home"></i></div>

    <p> I grew up in Kansas City with four siblings and two work-from-home parents. My dad is a salesman and business-starter and my mom is an artist. I like to think that I got my creativity from her and my analytical side from him, but they are really both creative and both analytical in their own ways. Also, I'm not a geneticist.</p>

    <div class="bubble-for-icon"><i class="icon-book"></i></div>

    <p> I went to Oberlin, where I spent five years earning a BA in art history and a B.Music in vocal performance (read: opera singing). I love Oberlin: it is a place full of passionate people with high standards but a lot of kindness as well. (I spent my senior year of high school studying voice at Interlochen Arts Academy, which happens to also have totally fantastic academics.) I love singing, but not the utter uncertainty of the profession. (It's a similar life to being an aspiring actor.)</p>

    <p>I was ready to live in a Big City. But instead, I was convinced by the then-new VP for Communications to stay in Oberlin for a year and work for him. That was the job that made me love the internet. I enjoyed it plenty already, but that year became much more interested in how it works.</p>

    <div class="bubble-for-icon"><i class="icon-plane"></i></div>

    <p>After two stints as an administrative assistant in San Francisco, I decided it'd be fun to learn to code. I did a few tutorials online, and then heard about a free(!) weekend workshop specifically for women to learn Rails. It was at that workshop that I met the woman who would become my manager at VerticalResponse. A few weeks later, I found myself gainfully employed in tech support. Eight months after that (and largely due to my coding hobby), I got promoted to Sales Engineer, where I supported client developers working with the VerticalResponse API.</p>

    <div class="bubble-for-icon"><i class="icon-code"></i></div>

    <p>After a year of helping people write integrations with VerticalResponse, I was ready to be writing code myself. So I attended Dev Bootcamp, a nine week, super-intense, super-fun web development program. I coded from about 8:30am to 8:30pm Monday through Friday, and more on the weekends. I learned how to pair program, got way better at thinking outloud, and learned about giving and receiving feedback effectively. (Along with eight different awesome technologies, of course.)</p>

    <p>I'm now a software engineer at <a href="http://omadahealth.com/" target="_blank">Omada Health</a>, and we make a four-month online course that helps pre-diabetic folks avoid getting type-2 diabetes called <a href="http://www.preventnow.com" target="_blank">Prevent</a>. My team builds the web app that our participants use to learn about eating better, being more physically active, and not feeling like a bad person when they fail at those things. And I love my team! They are totally wonderful, silly, smart human beings that are a pleasure to work with and learn from. I couldn’t be happier about where I’ve landed.</p>
    <div class="bubble-for-icon"><i class="icon-heart"></i></div>

    <p> When I'm not at work, I'm probably thinking about RailsBridge, the organization that first taught me rails and helped me get a job. After being a student a few times, I organized a workshop, then became a meta-organizer (which meant finding venues and organizers for at least one workshop and month, and often two). I wrote an intermediate rails curriculum, helping us become a fiscally-sponsored organization, and making our website better and better. It's a ton of work, but I love it. The RailsBridge community is a ridiculously enthusiastic and warm and smart.</p>

    <p> I love sincerity, silliness, dogs, cats, and babies. (The last three probably for how silly and sincere they are.) I live with my boyfriend and code reviewer <a href="https://github.com/tjgrathwell" target="_blank">Travis</a>, and when we're not working on RailsBridge stuff, we're probably watching serious and silly TV shows. We have a four-foot tall plush giraffe wizard (it wears a wizard hat, at least) who looks out the bay windows of our apartment. It doesn't have a name.</p>

    <div class="bubble-for-icon"><i class="icon-beer"></i></div>
  </div>
</div>
