<div class="inner-container">
  <div class="bio">
    <h2 class="centered-header mt-30">Something like my life story</h2>

    <div class="bubble-for-icon"><i class="icon-home"></i></div>

    <p> I grew up in Kansas City with four siblings and two work-from-home parents. My dad is a salesman and business-starter and my mom is an artist. I like to think that I got my creativity from her and my analytical side from him, but they are really both creative and analytical in their own ways. Also, I'm not a geneticist.</p>

    <div class="bubble-for-icon"><i class="icon-book"></i></div>

    <p> I went to Oberlin, where I spent five years earning a BA in art history and a B.Music in vocal performance (read: opera singing). I love Oberlin: it is a place full of passionate people with high standards but a lot of kindness as well. (I spent my senior year of high school studying voice at Interlochen Arts Academy, which happens to also have totally fantastic academics.) I love singing, but not the utter uncertainty of the profession. (It's a similar life to being an aspiring actor.)</p>

    <p>I was ready to live in a Big City. But instead, I was convinced by the then-new VP for Communications to stay in Oberlin for a year and work for him. That was the job that made me love the internet. I enjoyed it plenty already, but that year became much more interested in how it works.</p>

    <div class="bubble-for-icon"><i class="icon-plane"></i></div>

    <p>After two stints as an administrative assistant in San Francisco, I decided it'd be fun to learn to code. I did a few tutorials online, and then heard about a free (!) weekend workshop specifically for women to learn Rails. It was at that workshop that I met the woman who would become my manager at VerticalResponse. A few weeks later, I found myself gainfully employed in tech support. Eight months after that (and largely due to my coding hobby), I got promoted to Sales Engineer, where I supported client developers working with the VerticalResponse API.</p>

    <div class="bubble-for-icon"><i class="icon-code"></i></div>

    <p>After a year of helping people write integrations with VerticalResponse, I was ready to write code myself full-time. So I attended Dev Bootcamp and polished up the programming skills I'd been working on for a couple of years.</p>

    <p>In August 2013, I got an internship at <a href="http://omadahealth.com/" target="_blank">Omada Health</a>, a place where we use the internet to help people avoid chronic diseases like type 2 diabetes, or manage their diabetes or hypertension. Oh, and we're gonna do mental health stuff, too! (Using cognitive behavioral therapy, my VERY MOST favorite kind of therapy.)</p>

    <p>After my internship, I stayed at Omada full-time, switching teams a few times between 2013-2018, then switching jobs to become an engineering manager at the beginning of 2018. It's been a wild and wonderful ride. (You should probably go read <a href="http://www.linkedin.com/in/lilliechilen" target="_blank">my resume</a> if you want more details on all that.)</p>

    <div class="bubble-for-icon"><i class="icon-heart"></i></div>

    <p>From 2011 to 2017, I did a ton of unpaid volunteer work for various wonderful organizations, including <a href="http://www.railsbridge.org">RailsBridge</a>, where I first learned to code, <a href="http://www.doubleunion.org">Double Union</a>, the San Francisco feminist hacker/makerspace where I was CTO for a few years, and my favorite volunteer gig ever, co-organizing <a href="http://www.andconf.io" target="blank">AndConf</a>, a feminist programming conference in the woods of western Sonoma county, in 2015 and 2016.</p>

    <p>In 2017, I quit all my extracurricular activities to make room for my daughter, Elsie. We rearranged a lot of furniture to make room for her, too. Also, my heart grew <a href="https://genius.com/2947541" target="_blank">three sizes</a> when she was born, and I'm not even a grinch, mostly! Although I do make room for political activism sometimes, my life is pretty much totally full with work, family, and occasionally updating this website.</p>

    <div class="bubble-for-icon"><i class="icon-beer"></i></div>

    <div class="centered-header mt-30">
      <h3>Check out some of <%= link_to "my cool projects", "/projects" %>!</h3>
    </div>
  </div>
</div>
