<div class="big-top-margin inner-container orange-links">
	<h1>Hello!</h1>
	<p>The best way to get a hold of me is via Twitter. I'm <a href="https://twitter.com/lilliealbert">@lilliealbert</a>.</p>
	<p>If 140 characters is too few characters, tied for second place are carrier pigeon and email, lillie.chilen@gmail.com.</p>
	<p>Also, if you're bored, the <%= link_to "site archive", "/archive" %> is pretty great. I'm proud of versions one and two, especially.</p>
</div>
