---
title: Lillie Chilen!
---
<div class="inner-home">
	<div class="brand">Welcome! I'm Lillie. I get things done.</div>
  <div class="bio-pic-box">
    <div class="face"><img src="/images/lillie-face-marta.jpg" height="200"></div>
    <div class="short-bio">
			<p>
				I'm a software engineer, and I live at the foot of Bernal Hill in San Francisco
				with a cool dude named Travis, two cool kiddos named Elsie and Sadie, and two
				cats named after bourbons. I'm good with people, words, and code. I care a lot
				about social justice and keyboard shortcuts, and my long-term plans include
				sleeping more, destroying the patriarchy, and re-learning how to sing Schumann lieder.
			</p>
    </div>
  </div>
  <hr class="narrow-hr">
	<div class="site-places">
		<h2>Check out some <%= link_to "things I've made", "/projects" %></a>, <a href="http://www.linkedin.com/in/lilliechilen" target="_blank">my resume on LinkedIn</a>, or learn a bit more <%= link_to "about me", "/bio" %>.</h2>
		<div><p>Also, my last name is pronounced kinda like if Sean Connery were to say the name of Canadian pop legend Celine Dion: "shuh-leen".</p></div>
	</div>
	<hr class="narrow-hr">
	<div class="internet-places orange-links">
			<h2>Stomping Grounds</h2>
		<ul>
			<li>Professionally: <a href="http://www.linkedin.com/in/lilliechilen" target="_blank">linkedin.com/in/lilliechilen</a></li>
			<li>Tweets: <a href="http://www.twitter.com/lilliealbert" target="_blank">twitter.com/lilliealbert</a></li>
      <li>Old blog about human things, computers, &amp; feminism: <a href="http://lillielillie.tumblr.com" target="_blank">lillielillie.tumblr.com</a></li>
			<li>Commits: <a href="http://github.com/lilliealbert" target="_blank">github.com/lilliealbert</a></li>
		</ul>
	</div>
</div>
