---
title: Lillie Chilen!
---
<div class="inner-home">
	<div class="brand">Welcome! I'm Lillie. I get things done.</div>
	<div class="short-bio">
		<p>I'm a web developer, and I live at the foot of Bernal Hill in San Francisco with two cats named after bourbons. I'm good with people, words, and code. I care a lot about social justice and keyboard shortcuts, and my future plans include adopting a dog, destroying the gender binary, and re-learning how to sing Schumann lieder.</p>
	</div>
	<hr class="narrow-hr">
	<div class="site-places">
		<h2>Check out some <%= link_to "things I've made", "/projects" %></a>, <%= link_to "my resume", "/resume" %>, or learn a bit more <%= link_to "about me", "/bio" %>.</h2>
	</div>
	<hr class="narrow-hr">
	<div class="internet-places orange-links">
			<h2>Stomping Grounds</h2>
		<ul>
      <li>Blog about human things, computers, &amp; feminism: <a href="http://lillielillie.tumblr.com">lillielillie.tumblr.com</a></li>
			<li>Blog about code: <a href="http://lilliecodes.tumblr.com">lilliecodes.tumblr.com</a> </li>
      <li>Commits: <a href="http://github.com/lilliealbert">github.com/lilliealbert</a></li>
			<li>Tweets: <a href="http://www.twitter.com/lilliealbert">twitter.com/lilliealbert</a></li>
			<li>Silly filtered photos, only 33% cats: <a href="http://instagram.com/lilliealbert">instagram.com/lilliealbert</a></li>
			<li>Things found and loved via RSS: <a href="http://lillie.newsblur.com">lillie.newsblur.com</a></li>
			<li>Professionally: <a href="http://www.linkedin.com/in/lilliechilen">linkedin.com/in/lilliechilen</a></li>
		</ul>
	</div>
</div>