<div class="inner-container">
  <h1>Things I'm Proud Of</h1>
  <p>I'm a chronic over-committer. Or maybe just constant-committer. I like doing things that seem meaningful and there are so many of those things that I keep very busy.</p>
  <div class="project-nav">
    <ul>
      <li><h3>Jump to:</h3></li>
      <li><h3><a href="#technical-projects">Technical Projects</a></h3></li>
      <li><h3><a href="#human-projects">Human Projects</a></h3></li>
      <li><h3><a href="#technical-education">Technical Education Projects</a></h3></li>
    </ul>
  </div>
</div>
<div class="light-orange black-links">
  <div class="inner-container">
    <a name="technical-projects"></a>
    <h1>Technical Projects</h1>
    <h2><a href="http://www.giftdriver.org">Gift Driver</a></h2>
    <h4>Dev Bootcamp Final Project, July 2013</h4>
    <p>
      <a href="https://github.com/pyluftig/giftdriver"><i class="icon-github"></i></a>
      <a href="http://www.giftdriver.org"><i class="icon-desktop"></i></a>
    </p>
    <p>I was the technical lead on a team of three for a week-long hackathon / crowning Dev Bootcamp project. We built Giftdriver, an app to streamline the Adopt-a-Family and donation gift-giving process for organizations supporting youth and families through the holiday season.</p>
    
    <h2><a href="http://www.bridgetroll.org">Bridge Troll</a></h2>
    <h4>Ongoing</h4>
    <p>
      <a href="https://github.com/railsbridge/bridge_troll"><i class="icon-github"></i></a>
      <a href="http://www.bridgetroll.org"><i class="icon-desktop"></i></a>
    </p>
    <p><a href="http://workshops.railsbridge.org/bridge-troll/">Bridge Troll</a> is an open-source software project that has undergone three incarnations since its inception. I am responsible for its present incarnation because as someone who helps <a href="http://workshops.railsbridge.org">RailsBridge</a> organizers, I want there to be software that makes organizing easy. I also want to know who keeps coming back, and to be able to look at big-picture data about student and volunteer attendance.</p>
    <p>I'm handling the role of product owner and product manager on Bridge Troll — consulting with other organizers about features that would be important and working with code contributors to make sure what we want is feasible.</p>

    <h2><a href="/archive">Little Static Websites</a></h2>
    <h4>Ongoing</h4>
    <p>I made this website. Pretty good, right?</p>
    <p>I <em>highly</em> recommend checking out my <a href="/archive">site archive</a>. LillieChilen.com: the original is a piece of art.</p>
    <p>I also made my mom, who is an artist and educator, <a href="http://www.cynthiachilen.com">a website</a> as a Christmas present. We're still working on getting more of her oeuvre photographed and up on the site. Basically, I'm figuring out how to make things that aren't ugly and are maybe even fun.</p>
    <h2><a href="/billjames">Bill James Calculator</a></h2>
    <h4>2012</h4>
    <p><a href="/billjames"><i class="icon-desktop"></i></a></p>
    <p>As a gift for my dad, I built him a little calculator that uses the Bill James algorithm to determine if the lead is safe in a college basketball game. This was possibly the first time I used jQuery.</p>
  </div>
</div>
<div class="off-white orange-links">
  <div class="inner-container">
    <a name="human-projects"></a>
    <h1>Human Projects</h1>
    <h2><a href="/woman">Woman, not Girl</a></h2>
    <h4>2012</h4>
    <p><a href="/woman"><i class="icon-desktop"></i></a></p>
    <p>I made a page to try to convince people to use the word "woman" to refer to female adults rather than "girl".</p>

    <h2>RailsBridge Meta-Organizing</h2>
    <h4>March 2012 - May 2013</h4>
    <p>I paired up organizers with venues/sponsors for 1-2 workshops per month in San Francisco. I got recruited to this position by the inimitable Rachel Myers in early 2012 and brought my special flavor of fun and (possibly annoying) love of details to the workshop planning process.</p>
  </div>
</div>
<div class="teal orange-links">
  <div class="inner-container">
    <a name="technical-education"></a>
    <h1>Technical Education Projects</h1>
    <h2><a href="http://docs.railsbridge.org/docs/">Contributor, RailsBridge Curricula</a></h2>
    <h4>Ongoing</h4>
    <p>
      <a href="https://github.com/railsbridge/docs"><i class="icon-github"></i></a>
      <a href="http://docs.railsbridge.org/docs/"><i class="icon-desktop"></i></a>
    </p>
    <p>RailsBridge workshops teach from a set of open-source curricula, including a guide to getting a Rails development environment set up, an "app in a day" Rails curriculum, and an intro to front end web development (HTML & CSS with a little JavaScript). I help maintain all these things.</p>
    <h2>RailsBridge Odds and Ends</h2>
    <h4>Ongoing</h4>
    <p>The organizer cookbook lived in several disparate places, and I grabbed all that content, sorted through it, and <a href="https://github.com/railsbridge/docs/wiki/Cookbook">put it up</a> on the GitHub wiki for the RailsBridge repo. Part of the mission of RailsBridge has been to enable other people to put on their own workshops, and having good documentation and suggestions / support for first-time organizers is a huge part of that.</p>
    <p>I'm also part of a team that's creating an umbrella organization called Bridge Foundry, through which RailsBridge will be able to have 501(c)3 status.</p>
    <h2><a href="http://docs.railsbridge.org/intermediate-rails">Author, Intermediate Rails Curriculum</a></h2>
    <h4>November 2012</h4>
    <p>
      <a href="https://github.com/railsbridge/docs"><i class="icon-github"></i></a>
      <a href="http://docs.railsbridge.org/intermediate-rails"><i class="icon-desktop"></i></a>
    </p>
    <p>I wrote a <a href="http://docs.railsbridge.org/intermediate-rails/">new RailsBridge curriculum</a> with this cool dude named <a href="https://github.com/tjgrathwell">Travis Grathwell</a>. It's for people who had done the intro curriculum a bunch of times but hadn't taken The Next Step with their Rails knowledge.</p>
  </div>
</div>
<div class="teal">
  <h2 class="bye-bye">You know what else is fun? <%= link_to "Jobs!", "/resume" %></h2>
</div>