<div class='resume-inner orange-links'>
<h2>What kind of resume would you like?</h2>
<div class="whichresume">
<h3>
	<input id="fun" type="radio" name="kind" value="fun" checked>
	<label for="fun">Fun!</label><br />
	<input id="serious" type="radio" name="kind" value="serious">
	<label for="serious">Serious.</label>
</h3>
</div>
<h2 class="fun resume-header">Jobs I've had!</h2>
<h2 class="serious resume-header">Employment History</h2>
<h3>Software Engineer at Omada Health</h3>
<h4>November 2013 - present in San Francisco, CA</h4>
<div class="blurb fun">
  <p>I write Ruby code and lots of tests, and a little JavaScript.</p>
</div>
<ul class="serious">
  <li>Develop and maintain well-tested Ruby on Rails app</li>
  <li>Use XP/agile methodologies with enthusiasm</li>
</ul>
  <h3>Engineering Intern at Omada Health</h3>
<h4>August 2013 - November 2013 in San Francisco, CA</h4>
<div class="blurb fun">
  <p>I worked on a Rails app, pair programming with other members of the engineering team and doing a solo spell to work on admin tools. I got up to speed on Omada's engineering practices and tech stack, and learned so, so many things about Rails, testing, and ops.</p>
</div>
<ul class="serious">
  <li>Acted as a contributing member of the engineering team</li>
  <li>Pair programmed and practiced TDD</li>
  <li>Wrote a balance of integration tests and unit tests</li>
  <li>Learned the technology stack and basic devops skills</li>
  <li>Completed solo project focused on internal admin tools</li>
</ul>
<h3>Sales Engineer at VerticalResponse</h3>
<h4>May 2012 - May 2013 in San Francisco, CA</h4>
<div class="blurb fun"><p>I worked on the sales team as the friendly neighborhood expert on the <a href="http://developers.verticalresponse.com">VerticalResponse API</a>. I handled issues that developers run into with our API, primarily in PHP, C#/.NET, Java, and Ruby, and maintain the API documentation and sample code for all of those languages. I also worked with potential customers during the pre-sales process fielding questions and making architectural recommendations.</div>
<ul class="serious">
<li>Provided detailed technical information during pre-sales and integration periods for VerticalResponse customers using the API; made architectural recommendations to client developers.</li>
<li>Kept the sales team up to date through online resources, email updates, and presentations; trained colleagues from sales and support on the VerticalResponse API.</li>
<li>Significantly improved API documentation by updating sample code in Ruby, PHP, C#/.NET, and Java; actively maintained method documentation and introductory API guide.</li>
<li>Provided ongoing support to individual API users as well as major partnerships, including troubleshooting issues and recommending code updates for API changes.</li>
</ul>

<h3>Customer Relations Specialist at VerticalResponse</h3>
<h4>October 2011 – May 2012 in San Francisco, CA</h4>
<div class="blurb fun">
As a support rep at <a href="http://www.verticalresponse.com">VerticalResponse</a>, I got to know the product inside and out, and learned how to tailor my assistance to the technical comfort level of the customer. I got great at spending <em>just</em> the right amount of time with a customer so they felt valued and I could also move on to the next call, chat, or email. I exceeded my qualitative and quantitative goals from the very beginning, and was able to help out my fellow reps if they had tough questions or tough customers.</div>
<ul class="serious">
<li> Provided technical support to email marketing customers of various levels of computer proficiency via phone, online chat, and email.</li>
<li> Exceeded both quantitative and qualitative goals while adding a focused yet jovial presence to the support team.</li>
<li> Explained complex concepts accurately and clearly; avoids jargon and intimidating language with customers.</li>
</ul>

<h3>Director, Conservatory Challenge Initiative at Oberlin Conservatory of Music</h3>
<h4>March – July 2011 in Oberlin, OH</h4>
<div class="blurb fun">In 2011, I was lured back to Oberlin to take over an <a href="http://new.oberlin.edu/conservatory/">Oberlin Conservatory</a> fundraising campaign for its final four months. My charge was to raise the number of Conservatory alumni who gave back to Oberlin. We were able to increase that number from 27% in 2010 to 43% in 2011 — a 59% gain. Our success grew out of a diverse set of efforts targeted specifically at Conservatory alumni including email and print pieces, and an <a href="http://michaelgeraci.com/web/conservatoryChallenge">awesome website</a> created by a Conservatory alum-turned-web developer. I also created and deployed a social media campaign including a Facebook custom page, a ‘Donate Your Status’ campaign, and targeted ads.</div>
<ul class="serious">
<li>Increased Conservatory of Music alumni participation in the annual fund from 27% in 2010 to 43% in 2011 (a 59% gain) in a limited-term appointment created and recruited by the Dean of the Conservatory.</li>
<li>Overhauled messaging and authored ten major email and print pieces; ensured consistent application of new messaging.</li>
<li>Developed social media strategy to reach young alumni despite missing contact information; executed via Facebook custom pages, a ‘Donate Your Status’ campaign, and targeted ads.</li>
<li>Managed 70 alumni volunteer fundraisers and recruited an additional 30 campaign-specific volunteers; motivated and educated volunteers about generation-specific strategies.</li>
</ul>

<h3>Administrative Assistant at Loomis Group</h3>
<h4>June 2010 – March 2011 in San Francisco, CA</h4>
<div class="blurb fun">
Loomis Group was a 100-person advertising agency in San Francisco that has since morphed into another agency called Full and By. I worked as an executive assistant to the CEO while also acting as HR assistant to the COO. Some of my more memorable projects included planning a major client party at the CEO's very remote Napa vineyard, ordering wine bottling supplies for said vineyard, and getting the company newsletter out of the door on a monthly basis.</div>
<ul class="serious">
<li>Planned and executed major company events within tight time frames and budgets, including hiring and managing all contractors, obtaining competitive quotes from multiple vendors, and problem-solving on site.</li>
<li>Led project management software implementation team, managing the transition from multiple software platforms to a single solution. Worked closely with all company departments to gather and import applicable data and encourage enthusiastic employee buy-in.</li>
</ul>

<h3>Administrative Assistant at Aquilo Partners</h3>	
<h4>August 2009 – June 2010 in San Francisco, CA</h4>
<div class="blurb fun"		>
My first job in San Francisco was as the administrative assistant of a lovely 10-person boutique <a href="http://www.aquilopartners.com">investment firm</a> that specializes in biotech mergers and acquisitions. It was a relatively low-stress position: I managed the website and print marketing materials, kept the kitchen and the supply closet stocked, and planned special events like client dinners.</div>
<ul class="serious">
<li>Ensured regulatory compliance of 10-partner boutique investment firm by monitoring correspondence and maintaining files and manuals.</li>
<li>Planned and managed special events including client dinners and conference meetings; managed schedule of 100+ meetings over three day period in four locations.</li>
<li>Hired and worked with designer to update marketing materials.</li>
</ul>	

<h3>Communications Fellow at Oberlin College & Conservatory</h3>	
<h4>October 2008 – July 2009 in Oberlin, OH</h4>
<div class="blurb fun">
After graduating from Oberlin, I was recruited by its Vice President for Communications to work for him for about year on a wide range of internal and external communications projects. I created <a href="http://how.oberlin.edu/">How Oberlin Works</a>, a website to educate the Oberlin community about the institution’s structure on both the <a href="http://how.oberlin.edu/book">macro</a> and <a href="http://how.oberlin.edu/glossary">micro</a> levels. I also managed the <a href="http://stories.oberlin.edu/">Oberlin Stories Project</a>, in which I collected, edited, and published 100+ alumni, faculty, and student narratives for the Oberlin homepage.</div>
<ul class="serious">
<li>Reported directly to the Vice President for Communications on a wide range of projects to support internal and external communications in a limited-term appointment.</li>
<li>Worked extensively with developer to create How Oberlin Works website about the structure of the institution at <a href="http://how.oberlin.edu">http://how.oberlin.edu</a>.</li>
<li>Collected, edited, and published 100+ contributions to the Oberlin Stories Project at <a href="http://stories.oberlin.edu">http://stories.oberlin.edu</a>.</li>
</ul>

<h2 class="fun resume-header">Schooling!</h2>
<h2 class="serious resume-header">Education</h2>
<h3>Dev Bootcamp</h3>
<h4>May - July 2013 in San Francisco, CA</h4>
<div class="blurb fun">
<p>I spent 9 weeks learning web development for 9-12 hours per day. The program runs in three, three-week phases: Ruby, app development in Sinatra, and finally Rails. I honed my skills in Ruby, OOP, SQL, ActiveRecord, CSS & HTML, JavaScript, Sinatra, Rails, RSpec, Capybara, pair programming, and agile project management.</p>
</div>
<ul class="serious">
	<li>Over 9 weeks, spent ~800 hours coding, much of that time pair programming.</li>
	<li>Acted as technical lead on final project, building a complete web application in seven days</li>
	<li>Technologies:</li>
		<ul>
			<li>Ruby</li>
			<li>OOP</li>
			<li>SQL</li>
			<li>ActiveRecord</li>
			<li>CSS & HTML</li>
			<li>JavaScript</li>
			<li>Sinatra</li>
			<li>Rails</li>
			<li>RSpec</li>
			<li>Capybara</li>
		</ul>
</ul>

<h3>Oberlin College & Conservatory of Music</h3>
<p>Bachelor of Arts in Art History, 2008<br />Bachelor of Music in Vocal Performance, 2008</p>
<div class="blurb fun">I did Oberlin's double degree program and earned two bachelor's degrees in five years. I studied opera singing in the Conservatory, and even got to sing the title role in Monteverdi's <em>L'incoronazione di Poppea</em>. When I wasn't singing, I was busy taking amazing art history classes and helping run the <a href="http://www.oberlin.edu/artsguide/artist-recital-series/">Artist Recital Series</a>. It was a ball.</div>
<h2 class="bye-bye">You know what else is fun? <%= link_to "Projects!", "/projects" %></h2>
</div>
