<div class="inner-container orange-links">
	<h1>Woman, not Girl</h1>

	<p>As a female adult, there's some contention over what I should be called, noun-wise, if someone feels the need to identify me by my gender. Here's why I want you to call me and other female adults women, and not girls.</p>

	<div class="centered-header">
		<h4>First, watch this compelling and hilarious five minute talk by Caroline Drucker:</h4>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/TUvRPmL61SI?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<p><em>One big issue with Caroline's talk is that her attempt to have a funny definition of womanhood totally disenfranchises trans* folks. Menstruating is not a requirement to be a woman, and defining womanhood that way sucks.</em></p>

	<p>Why don't I like being called a girl? Because I'm an adult. I'm not a little kid, or a 15 year old. It can be a weird transition to make when you're used to "woman" meaning someone 20 years older than you, but you can probably handle it. I personally used "lady" to ease my transition from saying girl to woman, but maybe you're ready to go cold turkey.</p>

	<h1>FAQ</h1>
	<h3>But I call myself a boy or girl, so it's okay, right?</h3>
	<p>Well, it's possible that you're 16 and you're talking about a peer, in which case, sure. But if you're referring to an adult, maybe you should think about what it means. Making the mental transition from being a kid or a teenager is strange. But particularly in professional situations, you need to give women the respect of treating them and referring to them as adults. Unless you're specifically asked to call someone a girl, your default word should be woman.</p>

	<h3>But isn't girl just the female equivalent of guy?</h3>
	<p>No. It would be neat if we had a good one, but girl is the female equivalent of boy. Depending on who you ask, female equivalents for guy include "gal", "doll", and "lady". I like lady the most out of those; please don't call women dolls.</p>

	<h3>But what's wrong with girls?</h3>
	<p>Nothing! Girls are amazing! They also have a lot less power than adults, and calling a grown-up a word that actually means child is patronizing and infantilizing.</p>

	<h3>Why do you care?</h3>
	<p>Language is super important because it conveys power. Calling a female adult a woman implies maturity and respect; calling her girl implies childishness and that she is less than an adult.</p>

	<h1>Further Reading</h1>
	<p>These are some awesome articles that can provide more context to why a person might care about this kind of thing, and what you might do to help.</p>
	<ul>
		<li><a href="http://whatever.scalzi.com/2012/05/15/straight-white-male-the-lowest-difficulty-setting-there-is/">Straight White Male: The Lowest Difficulty Setting There Is</a> by John Scalzi</li>
		<li><a href="http://www.netmagazine.com/features/primer-sexism-tech-industry">A primer on sexism in the tech industry</a> by Faruk Ateş</li>
		<li>Captain Awkward on <a href="http://captainawkward.com/2012/11/18/395-confronting-offensive-bosses-and-coworkers/">Confronting offensive bosses and coworkers</a></li>
	</ul>

	<h1>Why I Made This</h1>
	<p>I made this site because I have this conversation with really nice and well-meaning men at almost every <a href="http://workshops.railsbridge.org">RailsBridge workshop</a> afterparty, and I decided I'd just get cards printed with a link to this page.</p> <p>Do you have FAQs to add or Further Reading suggestions? Email me at lillie.chilen@gmail.com.</p>
</div>